.outer  {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
}
.inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 700px;
}
button {
   padding-left: 50px;
   border-radius: 100px;
   border: 0;
   padding-right: 50px;
   padding-top: 20px;
   padding-bottom: 20px;
   color: white;
   background-color: rgb(11, 71, 209);
   font-style: italic;
}

.inner li {
    list-style: none;
    font-style: italic;
}


.name {
    display: flex;
    flex-direction: row;
    width:150px;
    justify-content: space-around;
    font-style: italic;
    
}